* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

nav {
  border: 0.15rem solid #252525;
  display: flex;
  padding: 1 rem;
  height: 45px;
  background-color: #c4c4c4;
  /*justify-content: center;*/
  align-items: center;
  font-size: 2rem;
  color: #252525;
}

@keyframes omniBlinkAnimation {
  from {
    color: #c4c4c4;
  }
  to {
    color: #252525;
  }
}
/* HAMBURGER MENU CONTENT */
.nav-bar {
  width: 250px;
  height: 250px;
  background-color: #c4c4c4;
  border-style: double;
  position: fixed;
  top: 54px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: left;
  visibility: hidden;
  flex-direction: column;
}
.open_menu {
  position: absolute;
  visibility: visible;
}

.nav-element {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #252525;
  display: flex;
  padding-left: 4%;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}
.nav-link {
  text-decoration: none;
  padding-top: 7%;
  width: 100%;
  height: 100%;
}

.image_container {
  background-image: url(hero.jpg);
  margin: 0.2rem;
  border: 0.1rem solid #252525;

  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.animation {
  cursor: pointer;
  font-family: "IBM Plex Mono";
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-style: bold;
  font-size: 3.3rem;
  animation-name: omniBlinkAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.buttonContainer {
  flex-grow: 1;
  margin-left: 0.3rem;
}

.socialMediaHeader {
  flex-grow: 1;
  text-align: center;
  visibility: hidden;
}

.container {
  border: 0.8rem solid #c4c4c4;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.sectionContainer {
  border-bottom: 0.15rem solid #252525;
  border-left: 0.15rem solid #252525;
  border-right: 0.15rem solid #252525;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.boxContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.textSection {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.box1 {
  cursor: pointer;
  width: 13rem;
  height: 8rem;
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;

  border: 2px solid #252525;
}

/* .load {
  color: #8b4af3;
  position: absolute;
  font-size: 2rem;
} */

/* .box1 {
  width: 5rem;
  height: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  background-color: transparent;
  animation: moveBox1 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* ++++++++++++MENU BUTTON ++++++++++++*/

.menu-btn {
  /*background-color: #8b4af3;*/
  border-style: double;
  background-color: white;
  padding-left: 0.25rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 38px;
  height: 38px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
