@font-face {
  src: url(fonts/AquireBold-8Ma60.otf);
  font-family: aquire-bold;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Mono", monospace;
}
/* FULL CONTAINER - containing: header,hero,text,footer*/
.container {
  min-height: 100vh;
  border: 0.6rem solid #c4c4c4;
  display: flex;
  flex-direction: column;
  border-top: 0px;
}
/****************************** HEADER ********************************/

.head-wrapper {
  position: sticky;
  top: 0px;
}
.header-top-bar {
  width: 100%;
  height: 0.6rem;
  background-color: #c4c4c4;
}
.header {
  padding: 0.5rem;
  font-size: 2rem;
  background-color: #c4c4c4;

  display: grid;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid #252525;
  grid-template-columns: 15rem 1fr 15rem;
}
/****************************** HEADER COMPONENT 1 ********************************/
.header-component1 {
  display: flex;
  align-items: center;
}

/****************************** BURGER BUTTON ********************************/
.burger-btn {
  border-style: double;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.burger-btn:hover {
  box-shadow: 2px 2px #252525;
}
.burger-btn-stripes {
  width: 20px;
  height: 2px;
  background: #252525;
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.burger-btn-stripes::before,
.burger-btn-stripes::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #252522;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.burger-btn-stripes::before {
  transform: translateY(-5px);
}
.burger-btn-stripes::after {
  transform: translateY(5px);
}
/* ANIMATION BURGER BUTTON */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/****************************** BURGER BURRON END ********************************/

/***************************** NAVIGATION BAR BURGER BUTTON ***************************/
.nav-bar {
  width: 20rem;
  height: 20rem;
  margin-top: 1.2rem;
  background-color: #c4c4c4;
  border: 1px solid #252525;
  padding: 3px;
  position: fixed;
  top: 53px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: left;
  visibility: hidden;
  flex-direction: column;
}
.open_menu {
  position: absolute;
  visibility: visible;
}

.nav-element {
  width: 100%;
  height: 100%;

  border-right: 1px solid #252525;
  border-left: 1px solid #252525;
  border-top: 1px solid #252525;

  display: flex;
  padding-left: 4%;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}
.nav-element.last {
  border-bottom: 1px solid #252525;
}
.nav-link {
  text-decoration: none;
  padding-top: 7%;
  width: 100%;
  height: 100%;
}
.nav-element:hover {
  background-color: darkgrey;
  cursor: pointer;
}
/***************************** NAVIGATION BAR BURGER BUTTON END***************************/

/****************************** HEADER COMPONENT 1 END ********************************/

/****************************** HEADER COMPONENT 2 ********************************/

/* OMNI HEADER LOGO incl. animation */
.header-component2 {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* OMNI HEADER FONT + ANIMATION */
.headline-animation {
  cursor: pointer;
  font-family: aquire-bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-style: bold;
  font-size: 2.5rem;
}

.headline-animation h1 {
  border-right: 7px solid #252525;
  /* text-shadow: 1px 1px 2px black; */
  line-height: 45px;
  animation: typist 2s steps(4), cursor 0.8s infinite step-end;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes cursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #252525;
  }
  100% {
    border-color: transparent;
  }
}
@keyframes typist {
  0% {
    width: 0ch;
  }
  100% {
    width: 4ch;
  }
}

/* OMNI HEADER LOGO END*/

/****************************** HEADER COMPONENT 2 END ********************************/

/****************************** HEADER COMPONENT 3 ********************************/

/* SOCIAL MEDIA BUTTON in HEADER */
.header-component3 {
  display: flex;
}

.socialMediaHeader {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  visibility: visible;
}
.socialMediaHeader img {
  width: 100%;
  height: 100%;
}
.socialMediaHeader a {
  text-decoration: none;
  color: inherit;
}
.menu-btn-social {
  /*background-color: #8b4af3;*/
  margin: 5px;
  border-style: double;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 38px;
  min-width: 38px;
  min-height: 38px;
  height: 38px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn-social:hover {
  box-shadow: 2px 2px #252525;
}

.menu-btn-social-media {
  display: none;
}
.menu-btn-social-inside-bar {
  display: none;
}

@media screen and (max-width: 500px) {
  .menu-btn-social {
    display: none;
  }
  .menu-btn-social-media {
    margin: 5px;
    padding: 5px;
    border-style: double;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    min-width: 38px;
    min-height: 38px;
    height: 38px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn-social-media:hover {
    box-shadow: 2px 2px #252525;
  }

  .menu-btn-social-media img {
    width: 100%;
    height: 100%;
  }
  .social-nav-bar {
    width: 45;
    height: 14rem;
    margin-top: 1.2rem;
    background-color: #c4c4c4;
    border: 1px solid #252525;
    position: fixed;
    top: 53px;
    right: 10px;
    visibility: hidden;
  }
  .social-nav-bar img {
    width: 100%;
    height: 100%;
  }
  .social-nav-bar a {
    text-decoration: none;
    color: inherit;
  }
  .open-social-bar {
    position: fixed;
    visibility: visible;
  }
  .menu-btn-social-inside-bar {
    margin: 5px;
    border-style: double;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 38px;
    min-width: 38px;
    min-height: 38px;
    height: 38px;
    cursor: pointer;
  }
  .menu-btn-social-inside-bar:hover {
    box-shadow: 2px 2px #252525;
  }
}

/* SOCIAL MEDIA BUTTON in HEADER END */

/****************************** HEADER COMPONENT 3 ********************************/

/****************************** HEADER END ********************************/

/* HERO IMAGE */
/* .hero-img {
  max-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black; */
/* } */

.loading-div {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  position: relative;
  color: transparent;
}

.loading::before {
  content: "loading..";
  color: transparent;
  position: absolute;
  overflow: hidden;
  animation: animateLoading 3s linear 2;
}

@keyframes animateLoading {
  0% {
    width: 0%;
    color: #782bf3;
    border-right: 0.4rem solid #782bf3;
  }
  50% {
    width: 100%;
    color: #782bf3;
    border-right: 0.4rem solid #782bf3;
  }

  100% {
    width: 0%;
    color: #782bf3;
    border-right: 0.4rem solid #782bf3;
  }
}

/* END HERO */

/* TEXT - WINDOWS section*/

.container1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  animation: loadingWindow 3s linear 2;
}

@keyframes loadingWindow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.app-bar {
  font-weight: 300;
  font-style: normal;
  height: 4rem;
  border-bottom: 0.3rem solid #c4c4c4;
  background-color: #0400d8;
  background: linear-gradient(0.25turn, #0400d8, 10%, #8180bd);
  display: flex;
  align-items: center;
}

.header-text-left {
  display: flex;
  font-style: normal;
  flex-grow: 1;
  width: 20%;
  padding-left: 2rem;
  align-content: center;
  color: white;
}

.header-text-middle {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 60%;
}

.header-text-right {
  display: flex;
  width: 20%;
  align-content: center;
  justify-content: flex-end;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.menu-button {
  text-align: center;
  background-color: #c4c4c4;
  width: 30px;
  height: 30px;
  margin: 0.3rem;
  padding: 0.8rem;
}

.textField {
  box-sizing: border-box;
  background-color: black;
  min-height: auto;
  display: flex;
  font-size: 2rem;
  justify-content: flex-start;
  padding: 1rem;
  padding-top: 3rem;
}

.text {
  color: white;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0.5rem;
  background-color: #c4c4c4;
}

.footer div {
  font-size: 1.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
