* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

nav {
  position: sticky;
}

nav ul {
  border: 0.15rem solid #252525;
  display: flex;
  padding: 1 rem;
  min-height: 6vh;
  background-color: #c4c4c4;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  list-style: none;
  color: #252525;
}

@keyframes omniBlinkAnimation {
  from {
    color: #c4c4c4;
  }
  to {
    color: #252525;
  }
}

.animation {
  cursor: pointer;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-style: bold;
  font-size: 4.2rem;
  animation-name: omniBlinkAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.container {
  border: 0.5rem solid #c4c4c4;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sectionContainer {
  border: 2px solid #252525;
  height: 100%;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #252525;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #252522;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
